<header>
    <div class="header-logo">プログラミングゼミ</div>

    <div class="header-list">
        <ul>
            <li>jiro</li>
            <li>toshi</li>
        </ul>
    </div>
</header>

<main>
    <h1>Hello World</h1>
</main>

<style>
header {
    background-color: black;
    color: white;
    height: 80px;
}

ul {
    float: right;
    padding-right: 15px;
}

li {
    list-style: none;
    padding: 
}

.header-logo {
    float: left;
    padding: 22px ;
    font-size: 25px ;
}

h1 {
    color: green;
}
